<button (click)="showDialog()">Open Dialog</button>

<app-modal (clickedOutside)="closeDialog()" *ngIf="showModalToggle">
  Contents...
  <button (click)="closeDialog()">Close Dialog</button>
</app-modal>

{{saved}}
